doctype
html
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    body
        header
            h1 Coming Soon
        .content
            block content
    footer
        a(href = 'https://github.com/Didericis')
            i(class = 'fa fa-github-square')
        a(href = 'https://twitter.com/didericis')
            i(class = 'fa fa-twitter-square')
